<div class="wrapper">
  <div class="router-progress-bar" *ngIf="isFetching"></div>
  <layout-header class="header"></layout-header>
  <layout-sidebar class="aside"></layout-sidebar>
  <section class="content">
    <reuse-tab></reuse-tab>
    <bt-quick-menu>
      <button nz-button nz-tooltip nzTitle="Create" nzType="primary" (click)='newEntity()' nzSize="large" nzShape="circle"><i class="anticon anticon-plus"></i>  
      </button>
    </bt-quick-menu>
    <router-outlet (activate)="onActivate($event)"></router-outlet>
  </section>
</div>
