<div class="row">
    <nz-card nz-col [nzActions]="[actionEdit,actionDelete]" [nzSpan]="6" *ngFor='let vp of (viewPointsByCity$ | async)'
    class='vp-card' [nzCover]='coverTemplate'>
    <nz-card-meta [nzTitle]="vp.name"></nz-card-meta>
    <ng-template #coverTemplate>
      <img [src]="vp.thumbnail" />
    </ng-template>
    <ng-template #actionEdit>
      <i class="anticon anticon-edit" (click)='edit(vp)'></i>
    </ng-template>
    <ng-template #actionDelete>
      <i class="anticon anticon-delete" (click)='delete(vp)'></i>
    </ng-template>
  </nz-card>
</div>
