.ta-card {
  margin: 0 1.5rem 1.5rem 1.5rem;
  nb-card-body {
    padding: 0;
    img {
      width: 300px; //10rem;
      height: 300px; // 15rem;
    }
    .card-title {
      color: white;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 2rem;
      transform: translate(-50%, -50%);
    }
  }
  nb-action:hover {
    cursor: pointer;
  }
  nb-card-footer {
    padding: 0.28rem;
  }
}
