    :host {
      display: block;
    }

    .bt-vp-category {
      top: 25%;
      left: 43%;
      transform: translate(-25%, -25%);
    }

    .bt-point-icon{
      display: inline-block;
    }

    .trip {
      display: block;
      position: absolute;
      text-align: center;
      font-size: 1.1em;
      font-style: normal;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
